<?xml version='1.0' standalone='yes'?>
<config>
	<actions>
		<baseAction>
			<subAction></subAction>
		</baseAction>
		<baseAction>
			<subAction></subAction>
		</baseAction>
		<baseAction>
			<subAction></subAction>
		</baseAction>
		<baseAction>
			<subAction></subAction>
		</baseAction>
	</actions>
</config>